* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
